frontend http80
    bind *:80
    timeout client 5s
    default_backend nginx_proxies

backend nginx_proxies
    balance roundrobin
    timeout connect 3s
    timeout server 3s
    server nginx-01 internal-nginx-01:80
    server nginx-02 internal-nginx-02:80
