global
  log stdout format raw local0

defaults
  log global
  option httplog
  option dontlognull

frontend http
  mode http
  bind *:80
  timeout client 5s  
  http-request deny if { path -i -m beg /health }
  default_backend nginx_proxies

backend nginx_proxies
  mode http
  balance roundrobin
  timeout connect 3s
  timeout server 3s
  server nginx-01 internal-nginx-01:80
  server nginx-02 internal-nginx-02:80
